### Pandas Warmup - Bridge Data

Last updated: Sep 20, 2021

**INSTRUCTIONS**  
Follow the instructons below to answer the questions.  
The solutions should be folded when you open this notebook in JupyterLab.  
Don't peek!

In [39]:
import pandas as pd

Import the bridges dataset from UCI

In [13]:
data_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1'

Read in the dataset (checking if there is header data or not; you'll need to control for that)

In [15]:
df = pd.read_csv(data_path, header=None)
df.head(3)

   0  1   2     3         4     5  6  7        8     9      10 11    12
0  E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD
2  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD      ?  S  WOOD

1) df[4] contains PURPOSE  
Print the count of each level of PURPOSE

In [17]:
df[4].value_counts()

HIGHWAY     71
RR          32
AQUEDUCT     4
WALK         1
Name: 4, dtype: int64

2) Build dummy variables out of PURPOSE, including prefix *purp*.  
Append the dummies to the dataframe, and drop the PURPOSE field.  
Print the first 3 rows to check things look correct.  
The dummy variables should contain binary values.

In [44]:
df2 = pd.concat([df, pd.get_dummies(df[4], prefix='purp')], axis=1)
df2.drop(columns=[4], inplace=True)
df2.head(3)

,0,1,2,3,5,6,7,8,9,10,11,12,purp_AQUEDUCT,purp_HIGHWAY,purp_RR,purp_WALK
0,E1,M,3,1818,?,2,N,THROUGH,WOOD,SHORT,S,WOOD,0,1,0,0
1,E2,A,25,1819,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD,0,1,0,0
2,E3,A,39,1829,?,1,N,THROUGH,WOOD,?,S,WOOD,1,0,0,0

3) Sort the data by df[1] and then df[2]. Print some rows to verify things look correct.  
Hint: Generally you will pass a list of strings for sorting, but here you will pass a list of integers since fields are integer type.

In [45]:
df2.sort_values(by=[1,2])

,0,1,2,3,5,6,7,8,9,10,11,12,purp_AQUEDUCT,purp_HIGHWAY,purp_RR,purp_WALK
21,E22,A,24,1876,1200,4,G,THROUGH,WOOD,SHORT,S,WOOD,0,1,0,0
66,E60,A,24,1915,1000,4,G,THROUGH,STEEL,LONG,F,SIMPLE-T,0,1,0,0
103,E84,A,24,1969,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH,0,1,0,0
1,E2,A,25,1819,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD,0,1,0,0
14,E16,A,25,1859,1030,2,N,THROUGH,IRON,MEDIUM,S-F,SUSPEN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,E103,O,48,1945,2160,2,G,THROUGH,STEEL,LONG,F,CANTILEV,0,1,0,0
61,E57,O,49,1910,1620,2,G,THROUGH,STEEL,LONG,F,CANTILEV,0,0,1,0
92,E96,Y,51,1945,?,?,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T,0,0,1,0
91,E97,Y,52,1945,?,?,G,THROUGH,STEEL,MEDIUM,S,ARCH,0,1,0,0
58,E54,Y,?,1908,1240,?,G,?,STEEL,MEDIUM,F,SIMPLE-T,0,1,0,0